<div class="announcement-bar">
  <p class="typewriter">🌊 FUEL THE IMPOSSIBLE: Jess & Mel's Epic Atlantic Crossing 2026,Be part of the adventure that pushes human limits</p>
</div>

<header class="site-header">
  <img src="./icons/seabound_favicon_2026.ico" alt="Logo" class="logo" />
  <button id="shareBtn">
    <img src="./icons/share_button_seabound.svg" alt="Share" class="icon" />
  </button>
  <button class="hamburger" onclick="toggleMenu()">☰</button>
  <nav id="navMenu">
    <a href="index.html">Home</a>
    <a href="story.html">Story</a>
    <a href="details.html">Details</a>
    <a href="gallery.html">Gallery</a>
    <a href="rsvp.html">RSVP</a>
    <a href="invest.html">Invest</a>
  </nav>
</header>